RewriteEngine on
DirectoryIndex index.php index.html

RewriteCond %{HTTP_HOST} ^dev\.tvp\.elementfx\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.dev\.tvp\.elementfx\.com$
RewriteRule ^index\.html$ "http\:\/\/dev\.tvp\.elementfx\.com\/index\.php" [R=301,L]

Options -Indexes

Options +FollowSymLinks
RewriteEngine On
RewriteBase /
RewriteCond %{HTTP_HOST} !^dev\.tvp\.elementfx\.com$ [NC]
RewriteRule ^(.*)$ http://tvp.elementfx.com/$1 [R=301,L]
